<footer style="margin-top:50px;" class="navbar-default navbar-fixed-bottom">
  <div >
      <nav class="breadcrumb" class="container-fluid"> 
         
        
 <% if (currentUser){ %>
    
          <a class="breadcrumb-item" href="/">Home</a>
          <% }else{ %> 
          <a class="breadcrumb-item" href="/register">Register</a> 
          <a class="breadcrumb-item" href="/login">Login</a> 
          
      </nav>
      <% } %> 
  </div>   
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

