<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<div>
				<h1 style="margin-top:2em;">Edit this dessert</h1>

				<form method="POST" action="/desserts/<%= dessert.id %>?_method=PUT">
					<input class="form-control" style="width:25em;" type="text" name="editDessertName" placeholder="Name"><br/>

					<input class="form-control" style="width:25em;" type="text" name="editDessertImage" placeholder="Image url"><br/>

					<input class="form-control" style="width:25em;" type="text" name="editDessertDescription" placeholder="Description"><br/>

					<button type="submit" class="btn btn-primary" style="width:25em;">Submit!</button>
				</form><br />

				<a href="/desserts/<%= dessert.id %>">Back</a>
				
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>

