<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form results</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
      </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

      
</head>
<body>

    
    
<!--<div id="results">Here is the image:</div><br>-->
    <img src='http://api.screenshotmachine.com/?key=2df3a8&dimension=1024xfull&format=png&url="<%=data.pickUrl %></im>>


    



</body>
</html>