body {
    font-family: 'Lato', sans-serif;
}
.textouter{
    text-align: center;
    width:auto;
    display: inline-block;
   
}
.textinner{
  width: 500px;  
        display: block;

}

.navbar-brand{
    font-weight: 1000;
    
}

img {
    width:50%; 
    height:300px;
    z-index: 0;
    padding-bottom:5px;
    padding-top: 5px;
}

#section1{
    width: 100%;
    font-family: 'Lato', sans-serif;
    max-height:600px;
    display: block;
    padding-top:60px;
    align-content: center;
    text-align:center;
    padding-bottom: 3px;
    background-color:#A8A8A8;
   
    
}
h1 {margin-top : 0 ; padding-top: 0;
font-family: 'Lato', sans-serif;}

#overviewdiv{
    font-family: 'Lato', sans-serif;
    align-content: center;
    text-align:center;
    padding-bottom: 3px;
    background-color:#BEBEBE;
    vertical-align: top;
}
#howitworksdiv{       
font-family: 'Lato', sans-serif;
    max-height:600px;
    align-content: center;
    text-align:center;
    padding-bottom: 3px;
    background-color:#D3D3D3;
    vertical-align: top;
}


.btn-success{

    position:relative;
/*    left:700px;*/
    z-index:1000;
    padding-top:5px;
}
a.deco-none {
    color:#ffffff !important;
    text-decoration:none !important;
}
.gallery{
    width: 250px;
    height: 180px;
    padding-right:10px;
}
.forms{
    padding: 20px;
}
.measurements{
    background-image: url(images/sewing-1229711_1920.jpg);
color: #2cddd7;}

.text{
    width: 600px;
    text-align: center;
/*    position:fixed;*/
}
.measurementunits{
    display:inline;
}
.listing{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 200px;
    border-bottom-style: solid;
    border-bottom-color: #909090;
    border-width: 1px;
/*    background-color:#D3D3D3;*/
    
}
.listingimage{
    width:150px;
    height: 150px;
}
#search{
    padding:2px;
/*    background-color:#A8A8A8;*/
    
}
#results{
     overflow-x: hidden;
    overflow-y: scroll;
}


