body{
    background-color: cadetblue
}

.jumbotron{
    text-align: center;
}


#thesteves{
    height: 50%;
    width: 50%;
    /* border-radius: 2em; */
}
#stevepeisch{
    border-radius: 2em;
    height: 20%;
    width: 20%;  
}
#gform{
    padding-bottom: 6em;
    padding-left: 2em;
    padding-right: 2em;
}
h1{
    font-family: 'Anton', sans-serif;
}
.navbar-brand{
    font-family: 'Anton', sans-serif;
}
body{
    font-family: 'Questrial', sans-serif;
}
b{font-weight: 1000}
#timetravelerposter{
    height: 50%;
    width: 50%
}
