body{
    background-color: cadetblue;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

.jumbotron{
    text-align: center;
}


#aboutsteve{
    height: 75%;
    width: 75%;
    border-radius: 2em;
    /* border: 1px solid; */
    box-shadow: 2px 3px; 
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px; 
}
#stevepeisch{
    border-radius: 2em;
    height: 20%;
    width: 20%; 
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px; 
}
#gform{
    padding-bottom: 6em;
    padding-left: 2em;
    padding-right: 2em;
}
h1{
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px white;

}
.navbar-brand{
    font-family: 'Anton', sans-serif;
}

b{font-weight: 1000}
#timetravelerposter{
    height: 50%;
    width: 50%
}
#timetravelerposter{
    border-radius: 1em;

    box-shadow: 2px 3px; 

}
