body{
    background-color: cadetblue
}

.jumbotron{
    text-align: center;
}

.emailform{
    padding-left: 2em;
    padding-right: 2em;
}

#thesteves{
    height: 30%;
    width: 30%;
    /* border-radius: 2em; */
}
#stevepeisch{
    border-radius: 2em;
    height: 20%;
    width: 20%;  
}
