

    <% include ./partials/header %>
<div id="landingbg">
    <div id="landing">
      <h1 id="landing" style="margin-top:2em;">Welcome to the Desserts Social Network</h1>
      <a href="/desserts" id="landinglink">View All Desserts</a>
    </div>
</div>
<% include ./partials/footer %>


